/* Mask: */
background: #FFFFFF;
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.11);
/* Mask: */
background: #90B253;
/* My Rewards: */
font-family: Lato-Bold;
font-size: 22px;
color: #FFFFFF;
lin
/* Fill 1: */
background: #06638C;e-height: 27px;
/* Participate in the 2: */
font-family: Lato-Light;
font-size: 18px;
color: #000000;
line-height: 14px;
/* Fill 3: */
background: #076D91;
/* Clip 6: */
/* Fill 5: */
background: #0778AA;
/* Fill 8: */
background: #0980AA;
/* Fill 10: */
background: #06638C;
/* Stroke 12: */
border: 4px solid #005A7A;
/* Fill 14: */
background: #0982AD;
/* Fill 16: */
background: #3EB4DD;
/* Mask: */
background: #FFFFFF;
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.11);
/* Mask: */
background: #5B5076;
/* Challenges: */
font-family: Lato-Bold;
font-size: 22px;
color: #FFFFFF;
line-height: 23px;
/* We’ve got healthy ch: */
font-family: Lato-Light;
font-size: 18px;
color: #000000;
line-height: 14px;
/* Fill 1: */
background: #F9E08F;
/* Fill 3: */
background: #EDCE6B;
/* Fill 5: */
background: #F9E08F;
/* Fill 7: */
background: #F3D76C;
/* Fill 9: */
background: #EDCE6B;
/* Fill 11: */
background: #FFDE73;
/* Fill 13: */
background: #EFD06C;
/* Fill 15: */
background: #EACC6A;
/* Fill 17: */
background: #E2C269;
/* Fill 19: */
background: #FFFFFF;
/* Fill 21: */
background: #FFFFFF;
/* Fill 23: */
background: #FFFFFF;
/* Mask: */
background: #FFFFFF;
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.11);
/* Mask: */
background: #5FA0A3;
/* My Health Assistant: */
font-family: Lato-Bold;
font-size: 22px;
color: #FFFFFF;
line-height: 23px;
/* It’s a perfect time : */
font-family: Lato-Light;
font-size: 18px;
color: #000000;
line-height: 14px;
/* Fill 1: */
background: #EAEAEA;
/* Clip 4: */
/* Fill 3: */
background: #E86776;
/* Clip 7: */
/* Fill 6: */
background: #BF5661;
/* Clip 10: */
/* Fill 9: */
background: #AB4A50;
/* Mask: */
background: #FFFFFF;
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.11);
/* Mask: */
background: #0D567B;
/* Clip 2: */
/* Fill 1: */
background: #FFFFFF;
/* Clip 5: */
/* Fill 4: */
background: #F4F4F4;
/* Clip 8: */
/* Fill 7: */
background: #E5E5E5;
/* Fill 10: */
background: #4B4C4C;
/* Fill 12: */
background: #4B4C4C;
/* Fill 14: */
background: #4B4C4C;
/* Fill 16: */
background: #4B4C4C;
/* Fill 18: */
background: #E86776;
/* Fill 20: */
background: #4B4C4C;
/* Health Assessment: */
font-family: Lato-Bold;
font-size: 22px;
color: #FFFFFF;
line-height: 23px;
/* Take the Health Asse: */
font-family: Lato-Light;
font-size: 18px;
color: #000000;
line-height: 14px;
/* Rectangle 27: */
background: #FFFFFF;
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.11);
/* Good Morning, Jeff!: */
font-family: Lato-Bold;
font-size: 18px;
color: #313131;
line-height: 22px;
/* Rectangle 59: */
background: #72234D;
/* Rectangle 59: */
background: #DD266C;
/* Rectangle 59: */
background: #41A9C7;
/* Background: */
background: #000000;
/* 100%: */
font-family: Helvetica;
font-size: 12px;
color: #FFFFFF;
line-height: 14px;
/* Shape: */
background: #FFFFFF;
/* Path: */
background: #FFFFFF;
/* 9:40 PM: */
font-family: Helvetica;
font-size: 12px;
color: #FFFFFF;
line-height: 14px;
/* Shape: */
background: #FFFFFF;
/* Shape: */
background: #FFFFFF;
/* Oval: */
background: #FFFFFF;
/* Oval: */
background: #FFFFFF;
/* Oval: */
background: #FFFFFF;
/* Oval: */
background: #FFFFFF;
/* Oval: */
background: #FFFFFF;
/* Wellness At Your Sid: */
font-family: Lato-Regular;
font-size: 17px;
color: #000000;
line-height: 21px;
/* Type something: */
font-family: Lato-Regular;
font-size: 8px;
color: #FFFFFF;
line-height: 10px;
/* row reorder 5: */
background: #FFFFFF;