html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 10px;
    background: #F2F2F2;
}
.swipeBox {
    height: 100%;
    padding-top: 20px;
}
.card {
    min-width: 300px;
    max-width: 320px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.11);
    overflow: hidden;
    margin: 10px auto 0;
    background: #fff;
    position: relative;
}
.cardDetails {
    font-size: 18px;
    color: #000;
    min-height: 80px;
    line-height: 1.2;
    font-weight: 300;
    padding: 10px;
}
.cardTitle {
    font-size: 22px;
    font-weight: 700;
    color: #FFF;
    height: 90px;
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 0 10px 0 80px;
    display: flex;
}
.cardTitle span {
    align-self: center;
}
.swipe {
    z-index: 100;
}
.swipe img {
    width: 100%;
    height: auto;
}
.swipe .cardDetails {
    position: absolute;
    bottom: 0;
    background: #fff;
}
.swipe .cardTitle {
    position: absolute;
    bottom: 80px;
    text-indent: 10px;
}
.cardLinks {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.6;
    color: rgba(0,0,0,.54);
    font-size: 16px;
}
.ha .cardTitle {
    background-color: #0D567B;
    background-image: url(Health-Assessment-Icon.svg);
}
.mha .cardTitle {
    background-color: #5FA0A3;
    background-image: url(Digital-Health-Assistant-Icon.svg);
}
.mpa .cardTitle {
    background-color: #4d8168;
    background-image: url(Digital-Health-Assistant-Icon.svg);
}
.challenges .cardTitle {
    background-color: #5B5076;
    background-image: url(Challenges-Icon.svg);
}
.rewards .cardTitle {
    background-color: #90B253;
    background-image: url(Rewards-Icon.svg);
}
.welcomeCard {
    max-width: 320px;
    height: 50px;
    margin: 0 auto;
    background: #fff;
    line-height: 50px;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.11);
    text-indent: 10px;
    transition: all .2s ease;
}
.welcomeCard::before {
    height: 3px;
    background: linear-gradient(to right, rgba(114,35,77,1) 0%, rgba(114,35,77,1) 32%, rgba(221,38,108,1) 33%, rgba(221,38,108,1) 65%, rgba(65,169,199,1) 66%, rgba(65,169,199,1) 100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
}
[data-state=animate] {
    transition: all 0.2s ease;
}
.cardWrapper {
    width: 100%;
    float: left;
}
@media (min-width: 620px) {
    .welcomeCard {
        min-width: 610px;
        max-width: 650px;
    }
    .cardWrapper {
        width: 50%;
        padding-right: 5px;
    }
    .card {
        float: right;
    }
    .cardWrapper:nth-child(odd) {
        padding-left: 5px;
        padding-right: 0;
    }
    .cardWrapper:nth-child(odd) .card {
        float: left;
    }
}
